*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin-login-container {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
  }
  
  .form-title {
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 16px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  